<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Login</title>
</head>

<body>
    <div th:replace="./components/navbar"></div>
    <div class="container mx-auto mt-8">
        <h1 class="text-4xl text-red-500 font-bold mb-10 text-center">Login <span class="text-black">Please!</span></h1>
        <form th:action="@{/login}" method="post"
            class="max-w-lg mx-auto border border-base-200 p-10 bg-base-100 rounded-xl shadow-2xl">
            <div class="mb-4">
                <label class="block text-gray-700">Username</label>
                <input id="username" type="text" name="username" class="input input-bordered w-full" />
            </div>
            <div class="mb-4">
                <label class="block text-gray-700">Password</label>
                <input type="password" name="password" class="input input-bordered w-full" />
            </div>
            <div class="mb-4">
                <button type="submit" onclick="storeUsername()"
                    class="btn btn-outline btn-success w-full">Login</button>
            </div>
        </form>
    </div>

    <script>
        function storeUsername() {
            const username = document.getElementById('username').value;
            localStorage.setItem('username', username);
        }
    </script>
</body>

</html>