<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Register</title>
</head>

<body>
    <div th:replace="./components/navbar"></div>
    <div class="container mx-auto mt-8">
        <h1 class="text-4xl text-red-500 font-bold mb-10 text-center">Register <span class="text-black">Now!</span></h1>
        <form th:action="@{/register}" th:object="${user}" method="post"
            class="max-w-lg mx-auto border border-base-200 p-10 bg-base-100 rounded-xl shadow-2xl">
            <div class="mb-4">
                <label class="block font-semibold text-gray-700">Username</label>
                <input type="text" th:field="*{username}" class="input input-bordered w-full" />
            </div>
            <div class="mb-4">
                <label class="block font-semibold text-gray-700">Email</label>
                <input type="email" th:field="*{email}" class="input input-bordered w-full" />
            </div>
            <div class="mb-4">
                <label class="block font-semibold text-gray-700">Password</label>
                <input type="password" th:field="*{password}" class="input input-bordered w-full" />
            </div>
            <div class="mb-4">
                <button type="submit" class="btn btn-outline btn-info w-full">Register</button>
            </div>
        </form>
    </div>
</body>

</html>